<div class="container my-4">
    <div class="row mb-4">
        <div class="col-md-12">
            <h2 class="heading-section">PHP_PAGE_TITLE</h2>
        </div>
    </div>

    <form action="PHP_FORM_ACTION_LOCATION" method="POST">
        PHP_FORMS_COLLECTION            
        <button type="submit" class="btn mb-2 mb-md-0 btn-success" name="PHP_FORM_POST_NAME">PHP_SUBMIT_BUTTON_NAME</button>
        <button type="button" onclick="location.href='PHP_CANCEL_BUTTON_LOCATION'" class="btn mb-2 mb-md-0 btn-danger" name="">Cancel</button>
    </form>
</div>