<div class="container my-4">
    <div class="row mb-4 ">
        <div class="col-md-12">
            <h2 class="heading-section">PHP_PAGE_TITLE</h2>
        </div>
    </div>

    <div class="mb-4">
        <button type="button" onclick="location.href='PHP_ADDBUTTON_LOCATION'" class="btn mb-2 mb-md-0 btn-primary">PHP_ADDBUTTON_NAME</button>
    </div>

    <table class="table">
        <thead>
            <tr>
            PHP_TH_ROWS
            </tr>
        </thead>
        <tbody>
            PHP_TBODY
        </tbody>
    </table>
</div>
<script>
    // auto update tiap data update
    const checkInterval = 1000; // in miliseconds
    const table_name = "PHP_TABLE_NAME"
    const key_name = table_name + "_lastUpdated"

    function checkStatusAndRefresh() {
    fetch("status.php", { cache: "no-store" })
        .then(response => response.json())
        .then(data => {
        const serverTime = data[key_name]; // Unix timestamp in seconds
        const currentTime = Math.floor(Date.now() / 1000); // seconds

        const diff = currentTime - serverTime;

        console.log("Server " + key_name + ":", serverTime);
        console.log("Current time:", currentTime);
        console.log("Difference:", diff, "seconds");

        if (diff <= 5) {
            //console.log("Last accessed is within 5 seconds — refreshing page...");
           // window.location.reload();
        }
        })
        .catch(error => {
        console.error("Failed to fetch /status.php:", error);
        });
    }

    // Polling loop
    setInterval(checkStatusAndRefresh, checkInterval);
</script>