<div class="container my-4">
    <div class="row mb-4 ">
        <div class="col-md-12">
            <h2 class="heading-section">PHP_PAGE_TITLE</h2>
        </div>
    </div>

    <div class="mb-4">
        <button type="button" onclick="location.href='PHP_ADDBUTTON_LOCATION'" class="btn mb-2 mb-md-0 btn-primary">PHP_ADDBUTTON_NAME</button>
    </div>

    <table class="table">
        <thead>
            <tr>
            PHP_TH_ROWS
            </tr>
        </thead>
        <tbody>
            PHP_TBODY
        </tbody>
    </table>
</div>